@charset "utf-8";
/* CSS Document */

#cabeceraWeb{
	background:#309;
}

#navegacionPrincipal{
	background-color:#9F3;
}

#barraLateral{
	background-color:#00F;
	float:left;
	height:1250px;
}	

#contenidoPrincipal{
	background-color:#900;
	margin-left:200px;
	padding-left:15px;
	padding-top:15px;
}	

#piePrincipal{
	background-color:#096;
	clear:both;
	margin-top:60px;
}		
li{
	background-color:#CC3;
	display:inline;
}
